extends layout

block content
  div(id="wrapper")
    div(id="logosection")
      a(href="http://www.eyevinntechnology.se", border="0")
        img.logo(src='images/eyevinn-technology-700px-transparent.png')      
    div(id="content")
      h1 HTML5 HLS Player 
      input(id="manifestUrl", size="100", type="text", name="manifestUrl")
      button(type="button", onClick="playVideo()") Play
      div(id="videocontent")
        video(id="video-container", class="video-js vjs-default-skin", style="width: 720px; height: 405px", controls="1")
        div(id="playbackdata")
          table.tinytable
            tr
              td Version:
              td(id="data_version") 
            tr
              td Quality levels:
              td(id="data_qualitylevels")  
            tr
              td Current level:
              td(id="data_bandwidth")
            tr
              td Fragment events:
              td(id="data_fragevents")
            tr
              td QoS events:
              td(id="data_qualityevents")
            tr
              td Framedrops:
              td(id="data_framedrops")
      div(id="playercontrols")
        label(for="level") Quality level 
        select(id="level", name="level")
    div(id="footer")
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
  script(type="text/javascript" src="javascripts/html5-player.js")
  script(type="text/javascript" src="javascripts/hls.min.js")
  script(type="text/javascript" src="javascripts/video.js")
  script(type="text/javascript" src="javascripts/videojs-contrib-hls.min.js")
