extends layout

block content
  div(id="wrapper")
    div(id="logosection")
      a(href="http://www.eyevinntechnology.se", border="0")
        img.logo(src='images/eyevinn-technology-700px-transparent.png')      
    div(id="content")
      h1 HTML5 HLS Player 
      input(id="manifestUrl", size="100", type="text", name="manifestUrl", value="http://content.jwplatform.com/manifests/vM7nH0Kl.m3u8")
      button(type="button", onClick="playVideo(false)") Play
      button(type="button", onClick="playVideo(true)") Debug
      div(id="videocontent")
        video(id="video-container", class="video-js vjs-default-skin", style="width: 720px; height: 405px", controls="1")
        div(id="textoverlay")
          div(id="overlay_timedata")
          div(id="overlay_ptsdata")
        div(id="playbackdata")
          table.tinytable
            tr
              td Based on:
              td(id="data_version") 
            tr
              td Quality levels:
              td(id="data_qualitylevels")  
            tr
              td Current level:
              td(id="data_bandwidth")
            tr
              td Fragment events:
              td(id="data_fragevents")
            tr
              td Loaded fragment:
              td(id="data_fragment")
            tr
              td(rowspan="5") Media data:
              td(id="data_media_codec") n/a
            tr
              td(id="data_video_moof") n/a
            tr
              td(id="data_video_mdat") n/a
            tr
              td(id="data_audio_moof") n/a
            tr
              td(id="data_audio_mdat") n/a
            tr
              td QoS events:
              td(id="data_qualityevents")
            tr
              td Last error:
              td(id="data_error") No error
      div(id="playercontrols")
        label(for="level") Quality level 
        select(id="level", name="level")
        button(type="button", onClick="toggleOverlay()") Show/Hide Overlay
        button(type="button", onClick="toggleMetrics()") Show/Hide Metrics
    div(id="realtimemetrics")
      canvas(id="canvas_fragments", height="200", width="1000")
      canvas(id="canvas_pipeline", height="200", width="1000")
      canvas(id="canvas_bandwidth", height="200", width="1000")
    div(id="footer")
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
  script(type="text/javascript" src="javascripts/html5-player.js")
  script(type="text/javascript" src="javascripts/canvas-update.js")
  script(type="text/javascript" src="javascripts/hls.min.js")
  script(type="text/javascript" src="javascripts/video.js")
  script(type="text/javascript" src="javascripts/videojs-contrib-hls.min.js")
