doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(property="og:title", content="HTML5 HLS Player by Eyevinn Technology")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://labs.eyevinn.se/player/")
    meta(property="og:description", content="Analyze your HLS stream with our HTML5 HLS Player")
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content
