@font-face {
  font-family: LevelOne;
  src: url('../fonts/LevelOne.woff');
}

html, body {
  font: 14px LevelOne, "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../images/bg-light.jpg');
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

.small {
  font-size; 10px;
}

.tiny {
  font: 8px Arial;
}

.logo {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

h1 {
  font-size: 3em;
}

#wrapper {
  min-height: 100%;
  position: relative;
}         
      
#content {
  text-align: center;
  padding-bottom: 20px;
}

#logosection {
  padding-top: 20px;
}

#playbackdata {
  text-align: left;
  width: 720px;
  margin: 0 auto;
}

#video-container {
  margin: 0 auto;
}
